html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body{
  font-family: $priFont;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
  color: $textColor;
}
.slide-left-enter, .slide-right-enter,
.slide-left-leave-active,.slide-right-leave-active{
  transition: all .5s;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(4%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-4%, 0);
}

::selection {
  background: $textColor;
  color: $backgroundColor;
  -webkit-text-stroke-color: $backgroundColor;
}

::-moz-selection {
  background: $textColor;
  color: $backgroundColor;
  -webkit-text-stroke-color: $backgroundColor;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#content__wrapper {
    margin: auto;
    width: $content-width;
    max-width: 1600px;
    position: relative;
}

section, .wrapper {
  padding: $spacing-xxl 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
span,
p {
  @extend .text-body;
}

p {
  margin: 0 0 $spacing-s;
}

b,
strong {
  font-weight: $fw-m;
  color: $textStrongColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .text-header;
}
