html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body{
  font-family: $priFont;
  font-size: $fs-xs;
  font-weight: $fw-r;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
  color: var(--text-color);
  *{
    cursor: var(--cursor-default);
  }
}

.slide-left-enter, .slide-right-enter,
.slide-left-leave-active,.slide-right-leave-active{
  transition: all .5s;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(4%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-4%, 0);
}

::selection {
  background: var(--text-strong-color);
  color: var(--background-color);
  -webkit-text-stroke-color: var(--background-color);
}

::-moz-selection {
  background: var(--text-strong-color);
  color: var(--background-color);
  -webkit-text-stroke-color: var(--background-color);
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.wrapper{
  margin: auto;
  width: $content-width;
  max-width: 1440px;
  position: relative;
  @include tablet{
    width: 100%;
  }
}

section {
  margin-top: calc(#{$spacing-xxs} * 2 + #{$fs-s * 2});
}

a {
  color: inherit;
  text-decoration: none;
  cursor: var(--cursor-pointer);
}

a,
span,
p {
  @extend .text-body;
}

p {
  margin: 0 0 $spacing-s;
}

b,
strong {
  font-weight: $fw-m;
  color: var(--text-strong-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .text-header;
}

.text-body{
  line-height: 2;
  font-weight: $fw-r;
  color: var(--text-color);
  strong, b{
    color: var(--text-strong-color);
  }
}
.text-header{
  font-weight: $fw-m;
  color: var(--text-strong-color);
  margin-bottom: $spacing-xs;
  line-height: 1.6;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include tablet{
    grid-template-columns: 1fr!important;
  }
}

.grid-first{
  padding-right: $spacing-xl;
  @include tablet{
    padding: $spacing-l!important;
  }
}

.grid-sec{
  padding-left: $spacing-xl;
  @include tablet{
    padding: $spacing-l!important;
  }
}

.grid{
  &-first, &-second{
    box-sizing: border-box;
  }
}

.grid-first.border{
  border-right: 1px solid var(--border-color);
  @include tablet{
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }
}

.grid-sec.border{
  border-left: 1px solid var(--border-color);
  @include tablet{
    border-left: none;
    border-top: 1px solid var(--border-color);
  }
}

.styled-text{
  font-family: $secFont;
}

.styled-title{
  font-family: $secFont;
  letter-spacing: 0;
  font-weight: $fw-b;
  color: var(--text-strong-color);
  display: inline-block;
  font-size: $fs-xl;
  line-height: 1;
}

.link-hover{
  cursor: var(--cursor-pointer);
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-weight: $fw-m;
  line-height: 1.4;
  color: var(--text-strong-color);
  @include laptop{
    transition: all 0.1s;
    background-image: linear-gradient(var(--text-strong-color), var(--text-strong-color));
    background-position: 100% 95%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    &:after{
      content: '';
      background: var(--text-strong-color);
      transition: all 0.1s;
      left: 0;
      width: 100%;
      position: absolute;
      z-index: -1;
    } 
    &:after{
      bottom: 0;
      height: 100%;
      opacity: 0;
    }
    &:hover:after{
      height: 100%;
      opacity: 1;
    }
    &:hover{
      font-style: italic;
      color: var(--background-color);
    }
  }
  @include tablet{
    text-decoration: underline;
  }
}

.outline-hover{
  cursor: var(--cursor-pointer);
  outline: 1px solid var(--border-color);
  transition: outline 0.1s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  @include laptop{
    &:hover, &:focus{
      outline-width: 12px;
    }
  }
}

.tag {
  display: inline-block;
  font-size: $fs-xxs;
  color: var(--text-color);
  border: var(--border-color) 1px solid;
  font-weight: $fw-m;
  text-align: center;
  padding: 0 $spacing-xxs*1.2;
  margin-top: $spacing-xxs;
  margin-right: $spacing-xxs;
}

ul {
  margin-top: -$spacing-xs;
  padding: 0;
  list-style: none;
  li {
    margin-top: $spacing-xxs;
  }
}