//inspired by: https://codepen.io/math8804
$line-height: 16vh;
$line-height-abs: -16vh;

.scroll-indicator {
    transition: opacity 2s;
    position: absolute;
    bottom: 0;
    right: 0;
    .scroll {
      width: 2px;
      height: $line-height;
      background-color: darken($med, 40%);
      position: relative;
      overflow: hidden;
      .scroll-line {
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(to bottom, rgba($med, 1) 50%, rgba($med, 0) 50%);
            background-position: 0 $line-height-abs;
            background-size: 100% 200%;
            animation: scrolldown 2.4s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
        }
    }
}
  
@keyframes scrolldown {
    0%{
        background-position: 0 $line-height-abs;
    }
    40% {
        background-position: 0 0;
    }
    60%{
    background-position: 0 $line-height;
    }
    100%{
    background-position: 0 $line-height;
    }
}