$dark: #0d0e0f;
$med: #303030;
$light: #ffffff;
$border: #8a8a8a;
$priFont: 'Inter', 'Segoe UI', 'Helvetica Neue', -apple-system, BlinkMacSystemFont,'Roboto', 'Oxygen',
'Fira Sans', 'Droid Sans', sans-serif;
$secFont: 'Merriweather', Georgia, serif;
$textColor: $med;
$textStrongColor: $dark;
$backgroundColor: $light;
$content-width: 80%;

$fw-b: 600;
$fw-m: 500;
$fw-r: 300;

$fs-xxl: 3.2rem;
$fs-xl: 2.2rem;
$fs-l: 1.6rem;
$fs-m: 1.3rem;
$fs-s: 1rem;
$fs-xs: 0.92rem;
$fs-xxs: 0.84rem;

$spacing-xxl: 6rem;
$spacing-xl: 4rem;
$spacing-l: 2rem;
$spacing-m: 1.6rem;
$spacing-s: 1.2rem;
$spacing-xs: 0.8rem;
$spacing-xxs: 0.4rem;

.text-body{
  line-height: 1.8;
  font-weight: $fw-r;
  color: $textColor;
  strong, b{
    color: $textStrongColor;
  }
}
.text-header{
  font-weight: $fw-m;
  color: $textStrongColor;
  margin-bottom: $spacing-xs;
  line-height: 1.6;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.styled-title{
  cursor: default;
  color: $textStrongColor;
  display: inline-block;
  font-size: $fs-xl;
  line-height: 1;
  font-family: $secFont;
}

.link-hover{
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.1s;
  font-weight: $fw-m;
  line-height: 1.4;
  background-image: linear-gradient($dark, $dark);
  background-position: 100% 95%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  &:after{
    content: '';
    background: $dark;
    transition: all 0.1s;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
  } 
  &:after{
    bottom: 0;
    height: 100%;
    opacity: 0;
  }
  &:hover:after{
    height: 100%;
    opacity: 1;
  }
  &:hover{
    font-style: italic;
    color: $light;
  }
}

.tag-item{
  display: inline-block;
  font-size: $fs-xxs;
  color: $textColor;
  font-weight: $fw-m;
  background-color: lighten($textColor, 75%);
  text-align: center;
}