$dark: #0d0e0f;
$med: #b1b1b1;
$light: #ffffff;
$priFont: 'Heebo', 'Segoe UI', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
'Fira Sans', 'Droid Sans', sans-serif;

$content-width: 75%;

$fw-b: 600;
$fw-m: 400;
$fw-r: 300;

$fs-xxl: 3.2rem;
$fs-xl: 2.4rem;
$fs-l: 1.6rem;
$fs-m: 1.3rem;
$fs-s: 1rem;
$fs-xs: 0.92rem;
$fs-xxs: 0.84rem;

$spacing-xxl: 6rem;
$spacing-xl: 4rem;
$spacing-l: 2rem;
$spacing-m: 1.6rem;
$spacing-s: 1.2rem;
$spacing-xs: 0.8rem;
$spacing-xxs: 0.4rem;

.text-on-dark{
  font-weight: $fw-r;
  color: $med;
  strong, b{
      color: $light;
  }
}
.header-on-dark{
  font-weight: $fw-m;
  color: $light;
  margin-bottom: $spacing-m;
}
.text-on-light{
  font-weight: $fw-r;
  color: $med;
  strong, b{
      color: $dark;
  }
}
.header-on-light{
  font-weight: $fw-m;
  color: $dark;
  margin-bottom: $spacing-m;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-stroked{
  cursor: default;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $med;
  font-weight: $fw-b;
  display: block;
  text-align: right;
  opacity: 0.5;
  font-size: $fs-xxl * 1.4;
  letter-spacing: 0.3rem;
  line-height: 1.2;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Arial', -apple-system, BlinkMacSystemFont, 'Oxygen',
  'Fira Sans', 'Droid Sans', sans-serif;
  transition: all 0.16s ease-in;
  &:hover{
    color: $med;
  }
}

.link-hover-light, .link-hover-dark{
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.1s;
  font-weight: $fw-m;
  &:before, &:after{
    transition: all 0.1s;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
    content: '';
  }
  &:before{
    height: 1px;
    bottom: 0;
    left: 0;
  }   
  &:after{
    bottom: 0;
    height: 0%;
    opacity: 0;
  }
  &:hover:after{
    height: 100%;
    opacity: 1;
  }
  &:hover{
    font-style: italic;
  }
}
.link-hover-dark{
  color: $dark;
  &:before, &:after{
    background: $dark;
  }
  &:hover{
    color: white;
  }
}
.link-hover-light{
  color: $light;
  &:before, &:after{
      background: $light;
  }
  &:hover{
      color: $dark;
  }
}
.tag-item{
  font-size: $fs-xxs;
  color: $light;
  background-color: lighten($dark, 8%);
  text-align: center;
}