$dark: #0d0e0f;
$med: #424242;
$light: #fdfdfd;
$border: $dark;
$priFont: 'Inter', 'Segoe UI', 'Helvetica Neue', -apple-system, BlinkMacSystemFont,'Roboto', 'Oxygen',
'Fira Sans', 'Droid Sans', sans-serif;
$secFont: 'Lexend Mega', 'Montserrat', 'Georgia', 'Times New Roman';
$textColor: $med;
$textStrongColor: $dark;
$backgroundColor: $light;
$content-width: 85%;

$fw-b: 600;
$fw-m: 500;
$fw-r: 300;

$fs-xxl: 3.2rem;
$fs-xl: 2.2rem;
$fs-l: 1.6rem;
$fs-m: 1.3rem;
$fs-s: 1rem;
$fs-xs: 0.92rem;
$fs-xxs: 0.84rem;

$spacing-xxl: 6rem;
$spacing-xl: 4rem;
$spacing-l: 2rem;
$spacing-m: 1.6rem;
$spacing-s: 1.2rem;
$spacing-xs: 0.8rem;
$spacing-xxs: 0.4rem;

$cursor-pointer: url("~@/static/cursor_pointer_32.png"), pointer;
$cursor-default: url("~@/static/cursor_default_32.png"), default;